<h3> Here are all the stores in a 25 mile radius </h3>
  <h4><%= @presenter.total_results %> Total Stores </h4>

  <div class='results'>
    <% @presenter.all_by_zip.map do |store| %>
    <ul class='result'>
      <li class='long_name'> <%= store.long_name %> </li>
      <li class='city'> <%= store.city %> </li>
      <li class='distance'> <%= store.distance %> </li>
      <li class='phone_number'> <%= store.phone_number %> </li>
      <li class='store_type'> <%= store.store_type %> </li>
    </ul>
    <%end %>
  </div>
